.swiper {
  width: 100%;
}

.swiper-slide {
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}


.swiper-slide {
  width: 80%;
}



.swiper-button-prev,
.swiper-rtl {
  left: 10px;
  position: absolute !important;
  right: auto;
  z-index: 1000 !important;
  background: transparent !important;
  color: white !important;
  transition: .5s all !important;
}

.swiper-button-next,
.swiper-rtl {
  left: auto;
  position: absolute !important;
  right: 10px;
  z-index: 1000 !important;
  background: transparent !important;
  color: white !important;
  transition: .5s all !important;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  font-family: swiper-icons;
  font-size: 30px !important;
  font-weight: 800 !important;
  text-transform: none !important;
  letter-spacing: 0;
  font-variant: initial;
  line-height: 1;
  transform: .5s all !important;
}






.swiper-button-prev:hover,
.swiper-button-next:hover {
  box-shadow: 1px 1px 5px 5px rgba(15, 0, 0, 0.199);
  background-color: green !important;
  border-radius: 0.7rem;
  padding: 5px 20px !important;
}

.disable-text-selection {
  -moz-user-select: none;
  /* firefox */
  -webkit-user-select: none;
  /* Safari */
  -ms-user-select: none;
  /* IE*/
  user-select: none;
  /* Standard syntax */
}